/*

  Global vars

*/

:root {
  --color-bg: black;
  --color-fg: white;
}

/*

  Reset

*/

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--color-bg);
  color: var(--color-fg);
}

::-webkit-scrollbar {
  display: none;
}

h1,
h2,
h3 {
  margin-top: 0;
}

/*

  Typography

*/

body,
input,
textarea,
button {
  font-family: sans-serif;
  font-size: 1rem;
}

/*

  Misc

*/

a,
a:visited,
a:focus {
  text-decoration: none;
  color: var(--color-fg);
}

a:hover {
  text-decoration: underline;
}
