/*

  Global vars

*/

:root {
  --color-bg: black;
  --color-fg: white;
}

/*

  Reset

*/

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: var(--color-bg);
  color: var(--color-fg);
}

body {
  margin: 1rem;
}

::-webkit-scrollbar {
  display: none;
}

h1,
h2,
h3 {
  margin-top: 0;
}

input,
textarea {
  padding: 0.5em;
  border: none;
}

small {
  display: block;
}

/*

  Typography

*/

body,
input,
textarea,
button {
  font-family: sans-serif;
  font-size: 1rem;
}

/*

  Button

*/

a,
a:visited,
a:focus,
button {
  display: inline-block;
  text-decoration: none;
  background: var(--color-bg);
  color: var(--color-fg);
  border: 1px dotted var(--color-fg);
  padding: 0.5rem 1rem;
}

a:hover,
button:hover {
  text-decoration: underline;
}

a.list {
  margin: 1rem 1rem 0 0;
}
